body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #1f1f1f;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header-nav {
  display: flex;
  padding-inline-start: 0.5rem;
}

.header-nav li {
  margin-inline: 0.5rem;
  text-align: center;
  align-content: center;
}

.right {
  font-size: 0.8125rem;
}

.header-nav li:nth-child(3) {
  margin-left: auto;
}

/* .header-nav li:last-child {
  width: 85px;
  height: 40px;
  background-color: #0b57d0;
  color: white;
  border-radius: 20px;
  align-self: center;
} */

.header-nav li:last-child a {
  padding: 12.5px 22.64px;
  background-color: #0b57d0;
  border-radius: 20px;
  color: white;
}

.header-nav li:nth-child(5) {
  width: 48px;
  height: 48px;
}

.header-nav li:nth-child(5):hover {
  background-color: #f7f8f9;
  border-radius: 50%;
}

.header-nav li:last-child a:hover {
  text-decoration: none;
}

.header-nav li:last-child:hover a {
  background-color: hsla(217, 90%, 43%, 0.9);
  box-shadow: 0 8px 4px -4px hsla(0, 0%, 82%, 0.8);
}

/* MAIN SECTION */

.image-section {
  padding-inline: 6rem;
  justify-self: center;
}

.main-image {
  width: 23.4375rem;
  height: 9.375rem;
}

.share-svg {
  padding: 7px;
  background-color: #f7f8f9;
  border-radius: 50%;
  margin: 8px;
}

.search-section {
  justify-self: center;
  padding-block: 20px 30px;
}

.search-bar {
  position: relative;
}

.search-box {
  box-sizing: border-box;
  width: 38.6875rem;
  height: 3.125rem;
  font-family: "Google Sans", sans-serif;
  font-size: 1rem;
  border-radius: 32px;
  border: 1px solid #d5d5d5;
  box-shadow: 0 4px 8px -2px hsla(0, 0%, 82%, 0.8);
  padding: 8px 192.64px 8px 48px;
}

.search-box:focus {
  outline: none;
}

.plus-icon {
  width: 36px;
  height: 36px;
  display: flex;
  position: absolute;
  left: 8px;
  top: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.plus-icon:hover {
  background-color: #f7f8f9;
}

.mic-icon {
  display: flex;
  position: absolute;
  right: 156.64px;
  top: 14px;
}

.lens-icon {
  display: flex;
  position: absolute;
  right: 120.64px;
  top: 13px;
}

.ai-search {
  display: flex;
  position: absolute;
  width: 96.64px;
  height: 36px;
  right: 8px;
  top: 7px;
  background-color: #f3f4f5;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.ai-search:hover {
  text-decoration: none;
}
.ai-search-text {
  margin: 0;
  padding-inline: 4px;
}

.button-bar {
  display: flex;
  gap: 0.5rem;
  color: #3c4043;
  font-weight: 600;
  padding-block-start: 1.8125rem;
  justify-content: center;
}

.button-bar a {
  padding: 9px 16px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 8px;
}

.button-bar a:hover {
  text-decoration: none;
  border-color: #dadce0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.offer-section {
  display: flex;
  font-size: 0.8125rem;
  gap: 4px;
  justify-content: center;
  padding: 0;
}

.offer-section a {
  color: #1a0dab;
}

.offer-section li:first-child p {
  margin: 0;
}

/* FOOTER SECTION */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  padding-inline-start: 1.875rem;
  padding-block: 1rem;
  margin: 0;
}

footer hr {
  border: none;
  height: 1px;
  background-color: #d5d5d5;
}

footer ul {
  display: flex;
  padding-inline: 2rem;
}

footer ul li a {
  padding: 0.9375rem;
}

footer ul li:nth-child(3) {
  margin-inline-end: auto;
}
