body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #1f1f1f;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header-nav {
  display: flex;
}

.header-nav li {
  margin-inline: 0.5rem;
  text-align: center;
  align-content: center;
}

.right {
  font-size: 0.8125rem;
}

.header-nav li:nth-child(3) {
  margin-left: auto;
}

.header-nav li:last-child {
  width: 85px;
  height: 40px;
  background-color: #0b57d0;
  color: white;
  border-radius: 20px;
}

.header-nav li:last-child a:hover {
  text-decoration: none;
}
